* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

:root {
  --color-brand-primary: #4070f4;
  --color-text-light: #555;
  --color-brand-accent-bg: #eaf5fe;
  --s1: 1.6rem;
  --s2: 2.24rem;
  --s3: 3.14rem;
  --s4: 4.4rem;
  --s5: 6.16rem;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

.c-section {
  padding: var(--s4) var(--s3);
  text-align: center;
}

.c-section__title {
  margin-bottom: var(--s3);
}

.c-section__title span {
  color: var(--color-brand-primary);
  font-size: var(--s5);
  text-transform: uppercase;
}

.c-services {
  list-style: none;
  display: grid;
  gap: var(--s3);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.c-services__item {
  padding: var(--s4);
  border-radius: var(--s1);
  box-shadow: 0 0 var(--s2) rgba(0, 0, 0, 0.05);
}

.c-services__item:hover {
  background-color: var(--color-brand-accent-bg);
  transition: background-color 0.3s ease;
}

.c-services__item h3 {
  font-size: var(--s3);
  margin-bottom: var(--s2);
  color: var(--color-brand-primary);
}

.c-services__item p {
  font-size: var(--s1);
  color: var(--color-text-light);
  line-height: 1.6;
}

/* Navbar */
#navbar {
  text-align: center;
}

#main-page-link {
  text-decoration: none;
  color: #7c86f8;
  font-weight: bold;
  transition: color 0.3s; /* Adding transition effect for color change */
}

#main-page-link:hover {
  color: #007bff; /* Changing color on hover */
}

footer {
  background-color: #4070f4;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
